<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <!-- Contenu spécifique de la page -->
    <%- body %>

    <!-- Footer global -->
    <%- include('../partials/footer') %>
</body>
</html>