<!DOCTYPE html>
<!--
 * @file     main.ejs
 * @author   Nathan Levasseur (202339974@edu.clg.qc.ca)
 * @version  0.01
 * @date     2025-09-12
 * @brief    Code ejs pour la page layout principale
-->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <!-- Contenu spécifique de la page -->
    <%- body %>

    <!-- Footer global -->
    <%- include('../partials/footer') %>
</body>
</html>