<!DOCTYPE html>
<!--
 * @file     acceuil.ejs
 * @author   Nathan Levasseur (202339974@edu.clg.qc.ca)
 * @version  0.01
 * @date     2025-09-12
 * @brief    Code ejs pour la page d'accueil
-->
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1><%=title %></h1>
    <%- include('index') %>
</body>

</html>