<!--
 * @file     index.ejs
 * @author   Nathan Levasseur (202339974@edu.clg.qc.ca)
 * @version  0.01
 * @date     2025-09-12
 * @brief    Code ejs pour la page index avec les hyperliens
-->
<h3> INDEX </h3>

<table border="1" cellpadding="10">
    <tr>
        <th>Module</th>
        <th>lien</th>
    </tr>
    <% for (let i = 1; i <= 6; i++) { %>
        <tr>
            <td>Module <%= i %></td>
            <td>
                <a href="/module/<%= i %>">Lien module <%= i %></a>
            </td>
        </tr>
    <% } %>
</table>
<p>Cliquez <a href="/controle">ici</a> pour aller à la page de contrôle des modules.</p>
<P>Cliquez <a href="/contact">ici</a> pour aller à la page des contact</P>
