<!--
 * @file     reset.ejs
 * @author   Nathan Levasseur (202339974@edu.clg.qc.ca)
 * @version  0.01
 * @date     2025-09-12
 * @brief    Code ejs pour la page de reset des modules
-->
<h1>L'ÉTAT DES MODULES ONT ÉTÉ RESET</h1>